{% extends "base.html" %}

{% block title %}Results{% endblock title %}

{% block content %}
<a href="/ex04/remove">remove</a>
{% if movies|length == 0  %}
    <h1>No data available</h1>
    {% else %}
    <table>
        <tr>
            {% for header in headers %}
            <th>
                {{ header }}
            </th>
            {% endfor %}
        </tr>
        {% for movie in movies %}
        <tr>
            {% for m in movie %}
            <td>
                {{ m }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}